/**********************/
/* NAV AND SECTION-1 */
/**********************/

@media (max-width: 57em) {
  .title {
    font-size: 5rem;
  }
  .resume {
    /* padding-right: 8rem; */
    font-size: 1.4rem;
  }
  .list {
    display: none;
  }

  .nav-menu {
    width: 4.8rem;
    height: 4.8rem;
    display: inline-block;
  }
}

@media (max-width: 49em) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    margin-bottom: 1rem;
  }
  .inner-container {
    text-align: center;
    padding-left: 5rem;
  }

  .resume {
    text-align: center;
  }
}

@media (max-width: 42em) {
  .section-1 {
    width: 100%;
  }
  .title {
    margin-top: 2.5rem;
    font-size: 3.2rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .resume {
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .photo1 {
    opacity: 70%;
  }

  .btn:link,
  .btn:visited {
    margin-bottom: 1rem;
  }
}

@media (max-width: 29em) {
  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1rem;
  }
}

@media (max-width: 22em) {
  .title {
    font-size: 1.8rem;
  }
}

/**************/
/* SECTION-2 */
/**************/

@media (max-width: 77em) {
  .center {
    padding: 0 6rem;
  }
}

@media (max-width: 43em) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .card3 {
    grid-column: 1/-1;
    justify-self: center;
  }
}

@media (max-width: 33em) {
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr) !important ;
  }
}

/**************/
/* SECTION-3 */
/**************/

@media (max-width: 74em) {
  .card-box2 h3 {
    font-size: 3.5rem;
  }

  .card-paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .btn3 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 56em) {
  .btn3 {
    margin-bottom: 6rem;
  }
}

@media (max-width: 43em) {
  .grid--2-crow {
    grid-template-columns: repeat(1, 1fr) !important ;
  }
}

@media (max-width: 25em) {
  .card-box2 h3 {
    font-size: 2.7rem;
  }
}

/****************/
/* SECTION-4 */
/****************/

@media (max-width: 28em) {
  .hiking-inner h3 {
    font-size: 4rem;
    padding-bottom: 3rem;
  }

  .hiking-inner p {
    font-size: 1.3rem;
  }
}

/*********************/
/* SECTION-5 SNOW IMG*/
/*********************/

@media (max-width: 71em) {
  .heading-1 {
    font-size: 5.5rem;
  }

  .heading-2 {
    font-size: 6rem;
  }
}

@media (max-width: 62em) {
  .heading-1 {
    font-size: 4.5rem;
    padding-left: 9rem;
  }
  .heading-2 {
    font-size: 5rem;
  }
}

@media (max-width: 52em) {
  .heading-1 {
    font-size: 3rem;
    padding-left: 7rem;
  }
  .heading-2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 42em) {
  .snow-boxx {
    padding-right: 3.2rem;
  }

  .snow-img {
    opacity: 75%;
  }
}

@media (max-width: 38em) {
  .heading-1 {
    font-size: 2rem;
  }
  .heading-2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 29em) {
  .snow-boxx {
    padding-right: 2rem;
  }

  .heading-1 {
    font-size: 1.3rem;
    padding-left: 5rem;
  }

  .heading-2 {
    font-size: 1.7rem;
  }
}

/***************/
/*SECTION-6*/
/***************/

@media (max-width: 77em) {
  .inner-box {
    padding: 0 5rem;
  }
}

@media (max-width: 43em) {
  .center2 {
    grid-column: 1/-1;
    justify-self: center;
  }
}

@media (max-width: 28em) {
  .ipsum-paragraph {
    font-size: 1.3rem;
  }
}

/***********************/
/* SECTION-7 */
/***********************/

@media (max-width: 75em) {
  .form input {
    width: 400px;
  }
}

@media (max-width: 50em) {
  .btn-pr {
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    justify-content: center;
  }

  .form input {
    width: 250px;
  }
}

@media (max-width: 44em) {
  .btn-pr {
    font-size: 1rem;
    width: 100px;
  }
}

@media (max-width: 31em) {
  .form input {
    width: 200px;
  }
  .form input::placeholder {
    font-size: 1.4rem;
  }
  .subscribe-box {
    position: inherit;
    grid-row: 2/3;
  }

  .btn-pr {
    width: 200px;
  }

  .form input {
    grid-row: 1/2;
  }

  .form {
    display: grid;
    justify-content: center;
    align-content: Center;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .box-7 h2 {
    font-size: 5rem;
  }
}
