* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

/***************************/
/* HIKING SECTION */
/***************************/

.section-1 {
  position: relative;
}

.inner-container {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  padding-left: 7rem;
}

.title {
  font-size: 6.8rem;
  color: #51cf66;
  font-weight: 600;
  text-shadow: 1px 2px 2px rgba(55, 206, 118, 0.377);
}

.subtitle {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.35rem;
  margin-bottom: 6.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #087f5b;
  display: inline-block;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.45px;
  margin-bottom: 2rem;
}

.btn:hover,
.btn:active {
  background-color: #f1f3f5;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.075);
}

.resume {
  line-height: 1.5;
  font-size: 1.6rem;
  font-style: italic;
}

/***************************/
/* NAVIGATION  */
/***************************/

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
  position: relative;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-list:link,
.nav-list:visited {
  margin: 1.2rem 3.2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-list:hover,
.nav-list:active {
  color: #cf711f;
}

.last {
  margin-right: 0;
  margin-left: 4rem;
  background-color: #51cf66;
  padding: 0.4rem 1.6rem;
  border-radius: 30px;
  padding-left: 9rem;
  transition: all 0.3s;
}

.last:hover {
  background-color: #37b24d;
}

.icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

/* .shape2 {
  position: absolute;
  bottom: -38px;
  transform: rotate(180deg);
} */

.nav-menu {
  width: 4.8rem;
  height: 4.8rem;
  display: none;
}

/***************************/
/* LET'S GO SECTION */
/***************************/

.heading {
  color: #fab005;
  margin-bottom: 2.8rem;
}

.resume2 {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.center {
  max-width: 120rem;
  margin: 0 auto;
}

.box {
  text-align: Center;
}

.section-2 {
  padding: 9.8rem 0;
}

.heading {
  font-size: 4rem;
}

.card {
  background-color: #7f7770;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card:hover {
  transform: translateY(-1.2rem);
}

.card2 {
  background-color: #7f7770;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card2:hover {
  transform: translateY(-1.2rem);
}

.card3 {
  background-color: #7f7770;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card3:hover {
  transform: translateY(-1.2rem);
}

.subtitle2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

.paragraph {
  padding: 3rem 2rem;
}

.card-img {
  width: 100%;
}

.card-resume {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 3rem;
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.btn2 {
  background-color: #495057;
  color: #fff;
  text-decoration: none;
  padding: 1.7rem 5rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25rem;
  border-radius: 25px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn2:hover {
  background-color: #343a40;
}

/****************************/
/* SECTION 3 */
/***************************/

.section-3 {
  padding-top: 9.8rem;
}

.card-box1 img {
  width: 100%;
  height: 100%;
}

.card-box2 {
  background-color: #7f7770;
}

.card-box2 h3 {
  color: #fff;
  font-weight: 600;
  font-size: 4.8rem;
  padding-bottom: 2.2rem;
  padding-top: 12rem;
  padding-left: 5rem;
}

.card-paragraph {
  font-size: 1.8rem;
  line-height: 1.7;
  padding: 3rem 5rem;
  color: #f1f3f5;
  font-weight: 400;
}

.btn3 {
  background-color: #cf711f;
  margin-left: 5rem;
}

.box-color {
  background-color: #deb37e;
}

.card-box4 img {
  max-width: 100%;
  height: 100%;
}

/***************************/
/* SECTION 4 - HIKING */
/***************************/

.hiking-img {
  max-width: 100%;
}

.section-4 {
  margin-top: 9.8rem;
  padding: 9.8rem 0;
  background-color: #99928d;
  position: Relative;
  z-index: 3;
}

.hiking-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hiking-inner h3 {
  font-weight: 500;
  color: #fff;
  font-size: 5.2rem;
  text-align: center;
  padding-bottom: 4rem;
}

.hiking-inner p {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 300;
}

/***************************/
/* SECTION 5 - EXPLORE  */
/***************************/
.section-5 {
  position: relative;
}

.shape {
  position: absolute;
  top: -8px;
  max-width: 100%;
}

.shape2 {
  max-width: 100%;
  position: absolute;
  bottom: -28px;
  transform: rotate(180deg);
}

.snow-boxx {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -20%);
  padding-right: 6.2rem;
}

.heading-1 {
  font-size: 7.3rem;
  letter-spacing: 4px;
  font-style: italic;
  color: #ffa94d;
  text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.1);
  padding-left: 11rem;
}

.heading-2 {
  font-size: 7.5rem;
  letter-spacing: 4px;
  font-style: italic;
  color: #333;
  text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.1);
}

.snow-img {
  max-width: 100%;
}

/***************************/
/*SECTION-6*/
/***************************/

.section-6 {
  position: relative;
  z-index: 99;
  background-color: #fff;
  padding-top: 9.8rem;
  padding-bottom: 3.8rem;
}
.shape3 {
  position: absolute;
  bottom: -3rem;
  max-width: 100%;
  z-index: -1;
}

.inner-box {
  max-width: 120rem;
  margin: 0 auto;
}

.ipsum-box h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #51cf66;
  padding-bottom: 2.2rem;
}

.ipsum-box p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.shadow {
  max-width: 100%;
  position: absolute;
  right: 0;
}

.text-box {
  text-align: Center;
}

.text-box {
  /* padding: 20rem 10rem; */
  padding: 20rem 10rem 0 10rem;
  max-width: 120rem;
  margin: 0 auto;
}

.apostroph {
  color: #000;
  font-size: 7rem;
  font-family: Georgia;
  font-weight: bold;
}

.ipsum-paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  padding-bottom: 4rem;
}

.end {
  font-size: 1.5rem;
  font-weight: bold;
}

/***************************/
/*SECTION-7*/
/***************************/

.section-7 {
  padding: 7.2rem 0;
  background-color: #deb37e;
  position: relative;
}

.shape-section-7 {
  position: absolute;
  bottom: -11rem;
  max-width: 100%;
}

.box-7 {
  padding: 10rem 2.5rem;
}

.box-7 h2 {
  font-size: 8rem;
  color: #ffff;
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.paragraph-7 {
  font-size: 2rem;
  text-align: center;
  padding: 0 6.8rem;
  color: #54524f;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.2rem;
}

.form input {
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 26px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-left: 3rem;
  position: relative;
  width: 600px;
}

.subscribe-box {
  position: absolute;
  right: 25%;
}

.form input::placeholder {
  color: #aaa;
}

/* *************************
/*SECTION-8*/
/***************************/

.section-last {
  background-color: #7f7770;
  padding: 25rem 0 10rem 0;
}

.last-box {
  padding: 0 5rem;
}

.information-box {
  padding-right: 12rem;
}

.info-title {
  color: #fff;
  font-size: 2.4rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

.info-lorem {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.icons {
  display: flex;
  list-style: none;
  gap: 1.3rem;
  margin-top: 2rem;
}

.col {
  color: #7f7770;
}

.list-icon {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.last-title {
  color: #fff;
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.last-list {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
